{#
    <ul>
        <li>Qui sommes nous ?</li>
        <li>Se désinscrire</li>
        <li>Données personnelles</li>
        <li>Mentions légales</li>
    </ul>
#}

<p class="text-center">
    Copyright &copy Webeditionplanet
</p>